./mydata/rois_trainKaist_thr70_0.csv
./mydata/rois_test_thr70.csv
./mydata/Dets_TrainKaist_Thr70.csv
./mydata/rois_testKaist_thr70_0.csv
./mydata/rois_trainKaist_thr70_0.csv
./mydata/rois_test_thr70.csv
./mydata/Dets_TrainKaist_Thr70.csv
./models/
./models/*.ptx
*.ptx
