./mydata/rois_trainKaist_thr70_0.csv
./mydata/rois_test_thr70.csv
./mydata/Dets_TrainKaist_Thr70.csv
./mydata/rois_testKaist_thr70_0.csv
./mydata/rois_trainKaist_thr70_MSDN.csv
./mydata/rois_trainKaist_thr70_1.csv
./mydata/rois_test_thr70.csv
./mydata/Dets_TrainKaist_Thr70.csv
./models/
./models/*.ptx

*.ptx
*.pth
./models/*.pth
./mymodel
./mymodel/*.pth
./models/model15/model15_lr_1e-9_bz_6_NBS_128_data_True_epoch_6.ptx
./models/model15/model15_lr_1e-9_bz_6_NBS_128_data_True_epoch_4.ptx
./models/model15/model15_lr_1e-9_bz_6_NBS_128_data_True_epoch_8.ptx
./models/model15/model15_lr_1e-9_bz_6_NBS_128_data_True_epoch_5.ptx
./models/model15/model15_lr_1e-9_bz_6_NBS_128_data_True_epoch_0.ptx
./models/model15/model15_lr_1e-9_bz_6_NBS_128_data_True_epoch_7.ptx
./models/model15/model15_lr_1e-9_bz_6_NBS_128_data_True_epoch_2.ptx
./models/model15/model15_lr_1e-9_bz_6_NBS_128_data_True_epoch_9.ptx
./models/model15/model15_lr_1e-9_bz_6_NBS_128_data_True_epoch_3.ptx
./models/model15/model15_lr_1e-9_bz_6_NBS_128_data_True_epoch_1.ptx
./models/model19/model19_lr_1e-7_bz_6_NBS_128_data_True_epoch_0.ptx
./models/model19/model19_lr_1e-7_bz_6_NBS_128_data_True_epoch_16.ptx
./models/model19/model19_lr_1e-7_bz_6_NBS_128_data_True_epoch_10.ptx
./models/model19/model19_lr_1e-7_bz_6_NBS_128_data_True_epoch_13.ptx
./models/model19/model19_lr_1e-7_bz_6_NBS_128_data_True_epoch_15.ptx
./models/model19/model19_lr_1e-7_bz_6_NBS_128_data_True_epoch_7.ptx
./models/model19/model19_lr_1e-7_bz_6_NBS_128_data_True_epoch_28.ptx
./models/model19/model19_lr_1e-7_bz_6_NBS_128_data_True_epoch_23.ptx
./models/model19/model19_lr_1e-7_bz_6_NBS_128_data_True_epoch_1.ptx
./models/model19/model19_lr_1e-7_bz_6_NBS_128_data_True_epoch_21.ptx
./models/model19/model19_lr_1e-7_bz_6_NBS_128_data_True_epoch_11.ptx
./models/model19/model19_lr_1e-7_bz_6_NBS_128_data_True_epoch_9.ptx
./models/model19/model19_lr_1e-7_bz_6_NBS_128_data_True_epoch_4.ptx
./models/model19/model19_lr_1e-7_bz_6_NBS_128_data_True_epoch_18.ptx
./models/model19/model19_lr_1e-7_bz_6_NBS_128_data_True_epoch_3.ptx
./models/model19/model19_lr_1e-7_bz_6_NBS_128_data_True_epoch_25.ptx
./models/model19/model19_lr_1e-7_bz_6_NBS_128_data_True_epoch_20.ptx
./models/model19/model19_lr_1e-7_bz_6_NBS_128_data_True_epoch_22.ptx
./models/model19/model19_lr_1e-7_bz_6_NBS_128_data_True_epoch_6.ptx
./models/model19/model19_lr_1e-7_bz_6_NBS_128_data_True_epoch_26.ptx
./models/model19/model19_lr_1e-7_bz_6_NBS_128_data_True_epoch_2.ptx
./models/model19/model19_lr_1e-7_bz_6_NBS_128_data_True_epoch_29.ptx
./models/model19/model19_lr_1e-7_bz_6_NBS_128_data_True_epoch_27.ptx
./models/model19/model19_lr_1e-7_bz_6_NBS_128_data_True_epoch_5.ptx
./models/model19/model19_lr_1e-7_bz_6_NBS_128_data_True_epoch_12.ptx
./models/model19/model19_lr_1e-7_bz_6_NBS_128_data_True_epoch_8.ptx
./models/model19/model19_lr_1e-7_bz_6_NBS_128_data_True_epoch_14.ptx
./models/model19/model19_lr_1e-7_bz_6_NBS_128_data_True_epoch_17.ptx
./models/model19/model19_lr_1e-7_bz_6_NBS_128_data_True_epoch_24.ptx
./models/model19/model19_lr_1e-7_bz_6_NBS_128_data_True_epoch_19.ptx
./models/model23/model23_lr_1e-9_bz_6_NBS_128_norm_epoch_2.ptx
./models/model23/_model23_lr_1e-5_bz_6_NBS_128_norm_epoch_1.ptx
./models/model23/model23_lr_1e-9_bz_6_NBS_128_norm_epoch_1.ptx
./models/model23/_model23_lr_1e-5_bz_6_NBS_128_norm_epoch_0.ptx
./models/model23/_model23_lr_1e-5_bz_6_NBS_128_norm_epoch_6.ptx
./models/model23/model23_lr_1e-9_bz_6_NBS_128_norm_epoch_0.ptx
./models/model23/_model23_lr_1e-5_bz_6_NBS_128_norm_epoch_2.ptx
./models/model23/model23_lr_1e-9_bz_6_NBS_128_norm_epoch_3.ptx
./models/model23/_model23_lr_1e-5_bz_6_NBS_128_norm_epoch_5.ptx
./models/model23/_model23_lr_1e-5_bz_6_NBS_128_norm_epoch_4.ptx
./models/model23/_model23_lr_1e-5_bz_6_NBS_128_norm_epoch_3.ptx
./models/MSDN/model2/model2_lr_1e-3_bz_2_NBS_128_norm_epoch_3.pth
./models/MSDN/model2/model2_lr_1e-3_bz_2_NBS_128_norm_epoch_1.pth
./models/MSDN/model2/model2_lr_1e-3_bz_2_NBS_128_norm_epoch_0.pth
./models/MSDN/model2/model2_lr_1e-3_bz_2_NBS_128_norm_epoch_4.pth
./models/MSDN/model2/model2_lr_1e-3_bz_2_NBS_128_norm_epoch_2.pth
./models/MSDN/model1/model1_lr_1e-3_bz_6_NBS_128_norm_epoch_2.pth
./models/MSDN/model1/model1_lr_1e-4_bz_2_NBS_128_norm_epoch_2.pth
./models/MSDN/model1/model1_lr_1e-3_bz_6_NBS_128_norm_epoch_4.pth
./models/MSDN/model1/model1_lr_1e-4_bz_2_NBS_128_norm_epoch_1.pth
./models/MSDN/model1/model1_lr_1e-3_bz_6_NBS_128_norm_epoch_1.pth
./models/MSDN/model1/model1_lr_1e-4_bz_2_NBS_128_norm_epoch_4.pth
./models/MSDN/model1/model1_lr_1e-4_bz_2_NBS_128_norm_epoch_0.pth
./models/MSDN/model1/model1_lr_1e-3_bz_6_NBS_128_norm_epoch_0.pth
./models/MSDN/model1/model1_lr_1e-3_bz_6_NBS_128_norm_epoch_3.pth
./models/MSDN/model1/model1_lr_1e-4_bz_2_NBS_128_norm_epoch_3.pth
./models/model17/model17_lr_1e-9_bz_6_NBS_128_data_True_epoch_9.ptx
./models/model17/model17_lr_1e-9_bz_6_NBS_128_data_True_epoch_8.ptx
./models/model17/model17_lr_1e-9_bz_6_NBS_128_data_True_epoch_0.ptx
./models/model17/model17_lr_1e-9_bz_6_NBS_128_data_True_epoch_1.ptx
./models/model17/model17_lr_1e-9_bz_6_NBS_128_data_True_epoch_4.ptx
./models/model17/model17_lr_1e-9_bz_6_NBS_128_data_True_epoch_3.ptx
./models/model17/model17_lr_1e-9_bz_6_NBS_128_data_True_epoch_6.ptx
./models/model17/model17_lr_1e-9_bz_6_NBS_128_data_True_epoch_5.ptx
./models/model17/model17_lr_1e-9_bz_6_NBS_128_data_True_epoch_7.ptx
./models/model17/model17_lr_1e-9_bz_6_NBS_128_data_True_epoch_2.ptx
./models/model25/model25_lr_1e-9_bz_6_NBS_128_norm_epoch_7.pth
./models/model25/model25_lr_1e-9_bz_6_NBS_128_norm_epoch_0.pth
./models/model25/model25_lr_1e-9_bz_6_NBS_128_norm_epoch_3.pth
./models/model25/model25_lr_1e-9_bz_6_NBS_128_norm_epoch_6.pth
./models/model25/model25_lr_1e-9_bz_6_NBS_128_norm_epoch_2.pth
./models/model25/model25_lr_1e-9_bz_6_NBS_128_norm_epoch_1.pth
./models/model25/model25_lr_1e-9_bz_6_NBS_128_norm_epoch_5.pth
./models/model25/model25_lr_1e-9_bz_6_NBS_128_norm_epoch_4.pth
./models/model25/model25_lr_1e-9_bz_6_NBS_128_norm_epoch_8.pth
./models/model9/model9_lr_1e-9_bz_7_data_True_epoch_9_9.ptx
./models/model9/model9_lr_1e-9_bz_7_data_True_epoch_9_8.ptx
./models/model9/model9_lr_1e-9_bz_7_data_True_epoch_9_3.ptx
./models/model9/model9_lr_1e-9_bz_7_data_True_epoch_9_4.ptx
./models/model9/model9_lr_1e-9_bz_7_data_True_epoch_9_5.ptx
./models/model9/model9_lr_1e-9_bz_7_data_True_epoch_9_0.ptx
./models/model9/model9_lr_1e-9_bz_7_data_True_epoch_9_1.ptx
./models/model9/model9_lr_1e-9_bz_7_data_True_epoch_9_6.ptx
./models/model9/model9_lr_1e-9_bz_7_data_True_epoch_9_2.ptx
./models/model9/model9_lr_1e-9_bz_7_data_True_epoch_9_7.ptx
./models/model26/model26_lr_1e-6_bz_6_NBS_128_norm_epoch_4.pth
./models/model26/model26_lr_1e-6_bz_6_NBS_128_norm_epoch_2.pth
./models/model26/model26_lr_1e-6_bz_6_NBS_128_norm_epoch_8.pth
./models/model26/model26_lr_1e-6_bz_6_NBS_128_norm_epoch_7.pth
./models/model26/model26_lr_1e-6_bz_6_NBS_128_norm_epoch_0.pth
./models/model26/model26_lr_1e-6_bz_6_NBS_128_norm_epoch_5.pth
./models/model26/model26_lr_1e-6_bz_6_NBS_128_norm_epoch_6.pth
./models/model26/model26_lr_1e-6_bz_6_NBS_128_norm_epoch_1.pth
./models/model26/model26_lr_1e-6_bz_6_NBS_128_norm_epoch_3.pth
./models/model26/model26_lr_1e-6_bz_6_NBS_128_norm_epoch_9.pth
./models/model20/model20_lr_1e-9_bz_6_NBS_128_data_True_epoch_14.ptx
./models/model20/model20_lr_1e-9_bz_6_NBS_128_data_True_epoch_5.ptx
./models/model20/model20_lr_1e-9_bz_6_NBS_128_data_True_epoch_10.ptx
./models/model20/model20_lr_1e-9_bz_6_NBS_128_data_True_epoch_9.ptx
./models/model20/model20_lr_1e-9_bz_6_NBS_128_data_True_epoch_11.ptx
./models/model20/model20_lr_1e-9_bz_6_NBS_128_data_True_epoch_4.ptx
./models/model20/model20_lr_1e-9_bz_6_NBS_128_data_True_epoch_3.ptx
./models/model20/model20_lr_1e-9_bz_6_NBS_128_data_True_epoch_8.ptx
./models/model20/model20_lr_1e-9_bz_6_NBS_128_data_True_epoch_6.ptx
./models/model20/model20_lr_1e-9_bz_6_NBS_128_data_True_epoch_7.ptx
./models/model20/model20_lr_1e-9_bz_6_NBS_128_data_True_epoch_0.ptx
./models/model20/model20_lr_1e-9_bz_6_NBS_128_data_True_epoch_12.ptx
./models/model20/model20_lr_1e-9_bz_6_NBS_128_data_True_epoch_13.ptx
./models/model20/model20_lr_1e-9_bz_6_NBS_128_data_True_epoch_1.ptx
./models/model20/model20_lr_1e-9_bz_6_NBS_128_data_True_epoch_2.ptx
./models/model13/model13_lr_1e-7_bz_7_data_True_epoch_0.ptx
./models/model13/model13_lr_1e-7_bz_7_data_True_epoch_5.ptx
./models/model13/model13_lr_1e-7_bz_7_data_True_epoch_4.ptx
./models/model13/model13_lr_1e-7_bz_7_data_True_epoch_3.ptx
./models/model13/model13_lr_1e-7_bz_7_data_True_epoch_2.ptx
./models/model13/model13_lr_1e-7_bz_7_data_True_epoch_1.ptx
./models/model11/model11_lr_1e-9_bz_7_data_True_epoch_0_pre.ptx
./models/model11/model11_lr_1e-9_bz_7_data_True_epoch_1.ptx
./models/model11/model11_lr_1e-9_bz_7_data_True_epoch_0.ptx
./models/model11/model11_lr_1e-9_bz_7_data_True_epoch_2.ptx
./models/model11/model11_lr_1e-9_bz_7_data_True_epoch_3.ptx
./models/model11/model11_lr_1e-9_bz_7_data_True_epoch_4.ptx
./models/model14/model14_lr_1e-9_bz_7_data_True_epoch_0.ptx
./models/model14/model14_lr_1e-9_bz_7_data_True_epoch_3.ptx
./models/model14/model14_lr_1e-9_bz_7_data_True_epoch_1.ptx
./models/model14/model14_lr_1e-9_bz_7_data_True_epoch_2.ptx
./models/model14/model14_lr_1e-9_bz_7_data_True_epoch_4.ptx
./models/model22/model22_lr_1e-6_bz_6_NBS_128_data_True_epoch_1.ptx
./models/model22/model22_lr_1e-6_bz_6_NBS_128_data_True_epoch_0.ptx
./models/model22/_model22_lr_1e-6_bz_6_NBS_128_data_True_epoch_1.ptx
./models/model22/_model22_lr_1e-6_bz_6_NBS_128_data_True_epoch_0.ptx
./models/model22/model22_lr_1e-6_bz_6_NBS_128_data_True_epoch_3.ptx
./models/model22/_model22_lr_1e-6_bz_6_NBS_128_data_True_epoch_2.ptx
./models/model22/_model22_lr_1e-6_bz_6_NBS_128_data_True_epoch_3.ptx
./models/model22/model22_lr_1e-6_bz_6_NBS_128_data_True_epoch_2.ptx
./models/model22/model22_lr_1e-6_bz_6_NBS_128_data_True_epoch_4.ptx
./models/model10/model10_lr_1e-9_bz_7_data_True_epoch_3.ptx
./models/model10/model10_lr_1e-9_bz_7_data_True_epoch_1.ptx
./models/model10/model10_lr_1e-9_bz_7_data_True_epoch_8.ptx
./models/model10/model10_lr_1e-9_bz_7_data_True_epoch_2.ptx
./models/model10/model10_lr_1e-9_bz_7_data_True_epoch_0.ptx
./models/model10/model10_lr_1e-9_bz_7_data_True_epoch_5.ptx
./models/model10/model10_lr_1e-9_bz_7_data_True_epoch_7.ptx
./models/model10/model10_lr_1e-9_bz_7_data_True_epoch_4.ptx
./models/model10/model10_lr_1e-9_bz_7_data_True_epoch_6.ptx
./models/model24/model24_lr_1e-6_bz_6_NBS_128_norm_epoch_7.pth
./models/model24/model24_lr_1e-6_bz_6_NBS_128_norm_epoch_5.pth
./models/model24/model24_lr_1e-6_bz_6_NBS_128_norm_epoch_1.pth
./models/model24/model24_lr_1e-6_bz_6_NBS_128_norm_epoch_2.pth
./models/model24/model24_lr_1e-6_bz_6_NBS_128_norm_epoch_0.pth
./models/model24/model24_lr_1e-6_bz_6_NBS_128_norm_epoch_9.pth
./models/model24/model24_lr_1e-6_bz_6_NBS_128_norm_epoch_4.pth
./models/model24/model24_lr_1e-6_bz_6_NBS_128_norm_epoch_6.pth
./models/model24/model24_lr_1e-6_bz_6_NBS_128_norm_epoch_3.pth
./models/model24/model24_lr_1e-6_bz_6_NBS_128_norm_epoch_8.pth
./models/model21/model21_lr_1e-7_bz_6_NBS_128_data_True_epoch_2.ptx
./models/model21/model21_lr_1e-7_bz_6_NBS_128_data_True_epoch_27.ptx
./models/model21/model21_lr_1e-7_bz_6_NBS_128_data_True_epoch_14.ptx
./models/model21/model21_lr_1e-7_bz_6_NBS_128_data_True_epoch_13.ptx
./models/model21/model21_lr_1e-7_bz_6_NBS_128_data_True_epoch_1.ptx
./models/model21/model21_lr_1e-7_bz_6_NBS_128_data_True_epoch_10.ptx
./models/model21/model21_lr_1e-7_bz_6_NBS_128_data_True_epoch_18.ptx
./models/model21/model21_lr_1e-7_bz_6_NBS_128_data_True_epoch_17.ptx
./models/model21/model21_lr_1e-7_bz_6_NBS_128_data_True_epoch_9.ptx
./models/model21/model21_lr_1e-7_bz_6_NBS_128_data_True_epoch_7.ptx
./models/model21/model21_lr_1e-7_bz_6_NBS_128_data_True_epoch_15.ptx
./models/model21/model21_lr_1e-7_bz_6_NBS_128_data_True_epoch_0.ptx
./models/model21/model21_lr_1e-7_bz_6_NBS_128_data_True_epoch_25.ptx
./models/model21/model21_lr_1e-7_bz_6_NBS_128_data_True_epoch_19.ptx
./models/model21/model21_lr_1e-7_bz_6_NBS_128_data_True_epoch_4.ptx
./models/model21/model21_lr_1e-7_bz_6_NBS_128_data_True_epoch_21.ptx
./models/model21/model21_lr_1e-7_bz_6_NBS_128_data_True_epoch_29.ptx
./models/model21/model21_lr_1e-7_bz_6_NBS_128_data_True_epoch_26.ptx
./models/model21/model21_lr_1e-7_bz_6_NBS_128_data_True_epoch_23.ptx
./models/model21/model21_lr_1e-7_bz_6_NBS_128_data_True_epoch_16.ptx
./models/model21/model21_lr_1e-7_bz_6_NBS_128_data_True_epoch_22.ptx
./models/model21/model21_lr_1e-7_bz_6_NBS_128_data_True_epoch_28.ptx
./models/model21/model21_lr_1e-7_bz_6_NBS_128_data_True_epoch_3.ptx
./models/model21/model21_lr_1e-7_bz_6_NBS_128_data_True_epoch_24.ptx
./models/model21/model21_lr_1e-7_bz_6_NBS_128_data_True_epoch_20.ptx
./models/model21/model21_lr_1e-7_bz_6_NBS_128_data_True_epoch_6.ptx
./models/model21/model21_lr_1e-7_bz_6_NBS_128_data_True_epoch_8.ptx
./models/model21/model21_lr_1e-7_bz_6_NBS_128_data_True_epoch_12.ptx
./models/model21/model21_lr_1e-7_bz_6_NBS_128_data_True_epoch_5.ptx
./models/model21/model21_lr_1e-7_bz_6_NBS_128_data_True_epoch_11.ptx
./models/model8/model8_lr_1e-9_bz_7_data_True_epoch_5.ptx
./models/model8/model8_lr_1e-9_bz_7_data_True_epoch_9.ptx
./models/model8/model8_lr_1e-9_bz_7_data_True_epoch_6.ptx
./models/model8/model8_lr_1e-9_bz_7_data_True_epoch_3.ptx
./models/model8/model8_lr_1e-9_bz_7_data_True_epoch_2.ptx
./models/model8/model8_lr_1e-9_bz_7_data_True_epoch_7.ptx
./models/model8/model8_lr_1e-9_bz_7_data_True_epoch_8.ptx
./models/model8/model8_lr_1e-9_bz_7_data_True_epoch_0.ptx
./models/model8/model8_lr_1e-9_bz_7_data_True_epoch_1.ptx
./models/model8/model8_lr_1e-9_bz_7_data_True_epoch_4.ptx
./models/model16/model16_lr_1e-9_bz_6_NBS_128_data_True_epoch_7.ptx
./models/model16/model16_lr_1e-9_bz_6_NBS_128_data_True_epoch_4.ptx
./models/model16/model16_lr_1e-9_bz_6_NBS_128_data_True_epoch_5.ptx
./models/model16/model16_lr_1e-9_bz_6_NBS_128_data_True_epoch_6.ptx
./models/model16/model16_lr_1e-9_bz_6_NBS_128_data_True_epoch_0.ptx
./models/model16/model16_lr_1e-9_bz_6_NBS_128_data_True_epoch_2.ptx
./models/model16/model16_lr_1e-9_bz_6_NBS_128_data_True_epoch_1.ptx
./models/model16/model16_lr_1e-9_bz_6_NBS_128_data_True_epoch_3.ptx
./models/model16/model16_lr_1e-9_bz_6_NBS_128_data_True_epoch_8.ptx
./models/model18/model18_lr_1e-9_bz_6_NBS_128_data_True_epoch_3.ptx
./models/model18/model18_lr_1e-9_bz_6_NBS_128_data_True_epoch_6.ptx
./models/model18/model18_lr_1e-9_bz_6_NBS_128_data_True_epoch_13.ptx
./models/model18/model18_lr_1e-9_bz_6_NBS_128_data_True_epoch_10.ptx
./models/model18/model18_lr_1e-9_bz_6_NBS_128_data_True_epoch_9.ptx
./models/model18/model18_lr_1e-9_bz_6_NBS_128_data_True_epoch_12.ptx
./models/model18/model18_lr_1e-9_bz_6_NBS_128_data_True_epoch_21.ptx
./models/model18/model18_lr_1e-9_bz_6_NBS_128_data_True_epoch_7.ptx
./models/model18/model18_lr_1e-9_bz_6_NBS_128_data_True_epoch_23.ptx
./models/model18/model18_lr_1e-9_bz_6_NBS_128_data_True_epoch_14.ptx
./models/model18/model18_lr_1e-9_bz_6_NBS_128_data_True_epoch_0.ptx
./models/model18/model18_lr_1e-9_bz_6_NBS_128_data_True_epoch_2.ptx
./models/model18/model18_lr_1e-9_bz_6_NBS_128_data_True_epoch_22.ptx
./models/model18/model18_lr_1e-9_bz_6_NBS_128_data_True_epoch_15.ptx
./models/model18/model18_lr_1e-9_bz_6_NBS_128_data_True_epoch_17.ptx
./models/model18/model18_lr_1e-9_bz_6_NBS_128_data_True_epoch_26.ptx
./models/model18/model18_lr_1e-9_bz_6_NBS_128_data_True_epoch_16.ptx
./models/model18/model18_lr_1e-9_bz_6_NBS_128_data_True_epoch_18.ptx
./models/model18/model18_lr_1e-9_bz_6_NBS_128_data_True_epoch_4.ptx
./models/model18/model18_lr_1e-9_bz_6_NBS_128_data_True_epoch_20.ptx
./models/model18/model18_lr_1e-9_bz_6_NBS_128_data_True_epoch_1.ptx
./models/model18/model18_lr_1e-9_bz_6_NBS_128_data_True_epoch_11.ptx
./models/model18/model18_lr_1e-9_bz_6_NBS_128_data_True_epoch_8.ptx
./models/model18/model18_lr_1e-9_bz_6_NBS_128_data_True_epoch_5.ptx
./models/model18/model18_lr_1e-9_bz_6_NBS_128_data_True_epoch_25.ptx
./models/model18/model18_lr_1e-9_bz_6_NBS_128_data_True_epoch_19.ptx
./models/model18/model18_lr_1e-9_bz_6_NBS_128_data_True_epoch_24.ptx
./models/model12/model12_lr_1e-7_bz_7_data_True_epoch_0.ptx
./models/model12/model12_lr_1e-7_bz_7_data_True_epoch_2.ptx
./models/model12/model12_lr_1e-7_bz_7_data_True_epoch_8.ptx
./models/model12/model12_lr_1e-7_bz_7_data_True_epoch_1.ptx
./models/model12/model12_lr_1e-7_bz_7_data_True_epoch_6.ptx
./models/model12/model12_lr_1e-7_bz_7_data_True_epoch_5.ptx
./models/model12/model12_lr_1e-7_bz_7_data_True_epoch_3.ptx
./models/model12/model12_lr_1e-7_bz_7_data_True_epoch_9.ptx
./models/model12/model12_lr_1e-7_bz_7_data_True_epoch_7.ptx
./models/model12/model12_lr_1e-7_bz_7_data_True_epoch_4.ptx
./mydata/rois_testKaist_thr70_MSDN.csv
./mydata/rois_trainKaist_thr70_1.csv
./mydata/rois_trainKaist_thr70_MSDN.csv
./mydata/rois_train_thr70.csv
./mydata/rois_testKaist_thr70_0.txt
./mydata/rois_test_thr70.csv
./mydata/Dets_TrainKaist_Thr70.csv
./mymodel/MSDN/model1_lr_1e-4_bz_2_NBS_128_norm_epoch_4.pth
./mymodel/RRN/model24_lr_1e-6_bz_6_NBS_128_norm_epoch_9.pth
*.csv
./mydata/*.csv
mydata/rois_testKaist_thr70_0.txt
